@using System.Globalization
@inherits OwningComponentBase
@using Blazor.Services
@using Blazor.Models
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject BikeService BikeService

<div class="bikes-container">

    <div class="bike-card">
        <div class="card h-100" @onclick="() => OpenSalesCard(Bike!.Id)" style="cursor:pointer">
            <!-- Bike image -->
            <img src="@Bike!.ImageUrl" alt="@Bike.Title" class="bike-image" />

            <!-- Bike information -->
            <div class="bike-info">
                <h4>@Bike.Title</h4>
                <p>Price: @Bike.Price kr</p>
                <p>Brand: @Bike.Brand</p>
                <p>Type: @Bike.Type</p>
                <p>Condition: @Bike.BikeCondition</p>
                <p>Location: @Bike.Location</p>
            </div>
        </div>
    </div>
</div>
@code {

    // this component are waiting to get Bike object from parent component and should not be described
    [Parameter] // it comes ouside from another component
    public Bike? Bike { get; set; }

    private void OpenSalesCard(int bikeId)
    {
        NavigationManager.NavigateTo($"/saledetail/{bikeId}");
    }
}

